html {
  font-family: 'Fira Sans', sans-serif;
  background-color: grey;
}

/* Clock style properties */
.clock-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  margin-top: 3%;
}

#clock-content-container {
  display: flex;
  width: 400px;
  margin: 0 auto;
  margin-top: 0px;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  background-color:bisque;
  padding: 25px;
}

#clock-right-side {
  text-align: right;
}

p {
  font-size: 36px;
}

#clock-content-container p:first-child {
  margin-bottom: 15px;
}
/* END Clock style properties  */

/* Tabs style properties  */
.title-container {
  margin-bottom: 10px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0 auto;
  margin-top: 3%;
}

.tabs-content-container {
  width: 250px;
  margin: 0 auto;
  border: 2px solid red;
  background-color: pink;
  padding: 25px;
}

.tabs-bar ul {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}