<div class="masthead">
  <div class="language-nav">
    <ul>
      <a href="#"><li class="first">CSS</li></a>
      <a href="#"><li>HTML</li></a>
      <a href="#"><li>Javascript</li></a>
      <a href="#"><li>Ruby</li></a>
    </ul>
  </div>

  <img class="logo" src="assets/AA_Times_Logo.png">

  <div>
    <ul class="masthead-links">
      <li class="time"><a>Tuesday, October 18, 2016</a></li>
      <li><button><i class="far fa-newspaper"></i>Today’s Paper</button></li>
      <li><button><i class="fas fa-video"></i>Video</button></li>
      <li><a>77°F</a></li>
      <li class="last"><a>AAO <strong>+100%</strong></a></li>
    </ul>
  </div>
</div>